<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/syntax.css?d={{ site.time | date: '%s' }}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    {% seo %}
    
    <meta name="description" content="">
    <meta name="author" content="Sameen Yunus">
    <meta name="twitter:site" content="@samfsy" />
    <meta property="twitter:card" content="summary_large_image" />
  </head>
